
#Search-Grid{
    display: grid;
    grid-template-columns: 75% 25%;
    grid-template-rows: 100%;
    margin-right: 3em;
    margin-bottom: 3em;
    box-sizing: border-box;
    height: 5vh;
}


#Search-Button{
    background-color: #8A2BE2;
    color: white;
    margin-left: 1em;
}